{% extends 'base/base.html' %}
{% block content %}
    {% for post in posts%}
        <article class="media content-section">
            <div class="article-metadata">
                <h2><a href="{% url 'post-detail' post.id %}" class="article-title">{{ post.title }}</a></h2>            
            </div>
            <div class="article-metadata">
                <p>{{ post.content }}</p>
            </div>
            <div>
                <small class="text-muted"> post by {{ post.author }}</small>
            </div>
        </article>
    {% endfor %}
{% endblock %}
